DOMAIN=localhost
STACK_NAME=primeagfent-stack

TRAEFIK_PUBLIC_NETWORK=traefik-public
TRAEFIK_TAG=primeagfent-traefik
TRAEFIK_PUBLIC_TAG=traefik-public


# Primeagent backend configuration
PRIMEAGFENT_LOG_LEVEL=debug
PRIMEAGFENT_SUPERUSER=superuser
PRIMEAGFENT_SUPERUSER_PASSWORD=superuser
PRIMEAGFENT_NEW_USER_IS_ACTIVE=False


# Primeagent frontend configuration
BACKEND_URL=http://backend:7860

# RabbitMQ configuration
RABBITMQ_DEFAULT_USER=primeagfent
RABBITMQ_DEFAULT_PASS=primeagfent

# Database configuration
DB_USER=primeagfent
DB_PASSWORD=primeagfent
DB_HOST=db
DB_PORT=5432
DB_NAME=primeagfent

# DB configuration
POSTGRES_USER=primeagfent
POSTGRES_PASSWORD=primeagfent
POSTGRES_DB=primeagfent
POSTGRES_PORT=5432

# Flower configuration
# Disable until https://github.com/khulnasoft/primeagfent/pull/2655 gets released
#PRIMEAGFENT_CACHE_TYPE=redis
PRIMEAGFENT_REDIS_HOST=result_backend
PRIMEAGFENT_REDIS_PORT=6379
PRIMEAGFENT_REDIS_DB=0
PRIMEAGFENT_REDIS_EXPIRE=3600
PRIMEAGFENT_REDIS_PASSWORD=
FLOWER_UNAUTHENTICATED_API=True
BROKER_URL=amqp://primeagfent:primeagfent@broker:5672
RESULT_BACKEND=redis://result_backend:6379/0
C_FORCE_ROOT="true"


# PGAdmin configuration
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
